#newsgrid{ div:hover a{background: rgba(20,30,30,0.2); transition: 0.5s;}}
.newsportion:hover {transform: rotate(2deg);transition:0.5s;}
.newsportion{a{img:hover {
  opacity: 0.5;transition: 0.2s;transform: scale(1.2);
}}}
nav
{ 
	span :hover {background: rgba(60,30,20,0.8); z-index: 1000; transition: 0.3s;transition-timing-function: 2s;	}
	span a:active {color:yellow;}
}
#topnews:hover img{opacity:80%;transition:0.2s;transform:scale(0.9);}